@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700;900&display=swap");
header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  gap: 70px;
}
header .container img {
  padding-top: 31px;
}
header .container .top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #DAD9D3;
  padding-bottom: 15px;
  flex: 1;
}
header .container .top-menu .social-media a {
  color: #191919;
  font-size: 20px;
  margin-right: 10px;
}
header .container .top-menu .social-media a:hover {
  color: red;
}
header .container .top-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .top-menu .contact-information .contact-box {
  padding-right: 30px;
  margin-right: 50px;
  border-right: 2px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
header .container .top-menu .contact-information .contact-box i {
  color: #191919;
  font-weight: 400;
  font-size: 20px;
  margin-right: 5px;
}
header .container .top-menu .contact-information .contact-box i:hover {
  color: red;
}
header .bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 180px;
}
header .bottom-container nav a {
  display: inline-block;
  color: #191919;
  text-decoration-line: none;
  margin-right: 70px;
  position: relative;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
header .bottom-container nav a:hover {
  background-color: #191919;
  color: #F0EFE9;
}
header .bottom-container button {
  background-color: #F9D783;
  border: solid #F9D783;
  border-radius: 35px;
  width: 120px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 10px;
  color: #191919;
}
header .bottom-container button i {
  margin-left: 10px;
  font-weight: 600;
}
header .bottom-container button:hover {
  background-color: #191919;
  color: #F0EFE9;
}

.Showcase {
  background-color: #F0EFE9;
}
.Showcase .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Showcase .container .content-text h1 {
  font-size: 80px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.Showcase .container .content-text p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 90px;
}
.Showcase .container .content-text .btn-yellow {
  background-color: #F9D783;
  border: solid #F9D783;
  border-radius: 35px;
  width: 100px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
.Showcase .container .content-text .btn-yellow i {
  margin-left: 8px;
  font-weight: 300;
  font-size: 1em;
}
.Showcase .container .content-text .btn-yellow:hover {
  background-color: #191919;
  color: #F0EFE9;
  border: 1px solid black;
}
.Showcase .container .content-text .btn-transparent {
  background-color: transparent;
  border: solid black;
  border-radius: 35px;
  width: 100px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
}
.Showcase .container .content-text .btn-transparent i {
  margin-left: 8px;
  font-weight: 400;
  font-size: 1em;
}
.Showcase .container .content-text .btn-transparent:hover {
  background-color: #191919;
  color: #F0EFE9;
  border: 1px solid black;
}

.parent-box {
  margin-top: 95px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 25rem;
  padding-left: 50px;
}
.parent-box .box {
  height: 90px;
  width: 224px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-finance {
  display: flex;
  background-color: #ffffff;
  padding: 6rem;
}
.container-finance .container-text {
  display: flex;
}
.container-finance .container-text .content-2 {
  text-align: left;
  margin-bottom: 10rem;
  margin-left: 140px;
}
.container-finance .container-text .content-2 p {
  font-family: "Inter", sans-serif;
  font-size: 15;
  color: #F94D1C;
  text-align: left;
  padding-top: 220px;
}
.container-finance .container-text .content-2 h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #191919;
  text-align: left;
  padding-bottom: 2rem;
}
.container-finance .container-text .content-2 .btn-yellow-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9D783;
  border: solid #F9D783;
  border-radius: 45px;
  width: 90%;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  text-align: center;
}
.container-finance .container-text .content-2 .btn-yellow-3 i {
  margin-left: 8px;
  font-weight: 300;
  font-size: 1em;
}
.container-finance .container-text .content-2 .btn-yellow-3:hover {
  background-color: #191919;
  color: #F0EFE9;
  border: 1px solid black;
}
.container-finance .container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-top: 14rem;
  margin-left: 10rem;
}
.container-finance .container-grid h3 {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
}
.container-finance .container-grid p {
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-top: 5px;
}
.container-finance .container-grid i {
  font-size: 25px;
  margin-bottom: 30px;
  color: #F94D1C;
}

.container-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-company .image1 {
  padding-left: 17rem;
  padding-top: 6rem;
  width: 45%;
}

.container-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-right .aside-right {
  padding-right: 21rem;
  padding-left: 17rem;
  margin-bottom: 14rem;
  margin-top: 200px;
}
.container-right .aside-right h6 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #F94D1C;
  margin-bottom: 20px;
  margin-top: 40px;
}
.container-right .aside-right h3 {
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  color: #191919;
  margin-bottom: 25px;
}
.container-right .aside-right p {
  font-size: 16px;
  color: #707070;
  margin-bottom: 5rem;
}
.container-right .btn-black {
  background-color: #191919;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #efebeb;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
}
.container-right .btn-black i {
  margin-left: 8px;
  font-weight: 400;
  font-size: 1em;
}
.container-right .btn-black:hover {
  background-color: #F9D783;
  color: #191919;
  border: 1px solid black;
}
.container-right .btn-play {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
}
.container-right .btn-play i {
  margin-right: 1rem;
  margin-left: 8px;
  font-weight: 400;
  font-size: 25px;
}
.container-right .btn-play:hover {
  color: #F9D783;
}