@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700;900&display=swap");
header {
  background-color: #F0EFE9;
  padding: 16px;
}
header .container {
  display: flex;
  align-items: center;
  gap: 70px;
}
header .container img {
  padding-top: 31px;
}
header .container .top-menu {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #DAD9D3;
  padding-bottom: 15px;
  flex: 1;
}
header .container .top-menu .social-media a {
  color: #191919;
  font-size: 20px;
  margin-right: 10px;
}
header .container .top-menu .social-media a:hover {
  color: red;
}
header .container .top-menu .contact-information {
  display: flex;
  align-items: center;
}
header .container .top-menu .contact-information .contact-box {
  padding-right: 30px;
  margin-right: 50px;
  border-right: 2px solid #DAD9D3;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
header .container .top-menu .contact-information .contact-box i {
  color: #191919;
  font-weight: 400;
  font-size: 20px;
  margin-right: 5px;
}
header .container .top-menu .contact-information .contact-box i:hover {
  color: red;
}
header .bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 180px;
}
header .bottom-container nav a {
  display: inline-block;
  color: #191919;
  text-decoration-line: none;
  margin-right: 70px;
  position: relative;
  font-weight: 600;
  font-family: "Inter", sans-serif;
}
header .bottom-container nav a:hover {
  background-color: #191919;
  color: #F0EFE9;
}
header .bottom-container button {
  background-color: #F9D783;
  border: solid #F9D783;
  border-radius: 35px;
  width: 120px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 10px;
  color: #191919;
}
header .bottom-container button i {
  margin-left: 10px;
  font-weight: 600;
}
header .bottom-container button:hover {
  background-color: #191919;
  color: #F0EFE9;
}

.Showcase {
  background-color: #F0EFE9;
}
.Showcase .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Showcase .container .content-text h1 {
  font-size: 80px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.Showcase .container .content-text p {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 90px;
}
.Showcase .container .content-text .btn-yellow {
  background-color: #F9D783;
  border: solid #F9D783;
  border-radius: 35px;
  width: 100px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
  padding-left: 40px;
}
.Showcase .container .content-text .btn-yellow i {
  margin-left: 8px;
  font-weight: 300;
  font-size: 1em;
}
.Showcase .container .content-text .btn-yellow:hover {
  background-color: #191919;
  color: #F0EFE9;
  border: 1px solid black;
}
.Showcase .container .content-text .btn-transparent {
  background-color: transparent;
  border: solid black;
  border-radius: 35px;
  width: 100px;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 40px;
  padding-left: 40px;
}
.Showcase .container .content-text .btn-transparent i {
  margin-left: 8px;
  font-weight: 400;
  font-size: 1em;
}
.Showcase .container .content-text .btn-transparent:hover {
  background-color: #191919;
  color: #F0EFE9;
  border: 1px solid black;
}

.parent-box {
  margin-top: 95px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 25rem;
  padding-left: 50px;
}
.parent-box .box {
  height: 90px;
  width: 224px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-finance {
  display: flex;
  background-color: #ffffff;
  padding: 6rem;
}
.container-finance .container-text {
  display: flex;
}
.container-finance .container-text .content-2 {
  text-align: left;
  margin-bottom: 10rem;
  margin-left: 140px;
}
.container-finance .container-text .content-2 p {
  font-family: "Inter", sans-serif;
  font-size: 15;
  color: #F94D1C;
  text-align: left;
  padding-top: 220px;
}
.container-finance .container-text .content-2 h2 {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  color: #191919;
  text-align: left;
  padding-bottom: 2rem;
}
.container-finance .container-text .content-2 .btn-yellow-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9D783;
  border: solid #F9D783;
  border-radius: 45px;
  width: 90%;
  height: 50px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
  text-align: center;
}
.container-finance .container-text .content-2 .btn-yellow-3 i {
  margin-left: 8px;
  font-weight: 300;
  font-size: 1em;
}
.container-finance .container-text .content-2 .btn-yellow-3:hover {
  background-color: #191919;
  color: #F0EFE9;
  border: 1px solid black;
}
.container-finance .container-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  margin-top: 14rem;
  margin-left: 10rem;
}
.container-finance .container-grid h3 {
  font-size: 22px;
  font-family: "DM Sans", sans-serif;
}
.container-finance .container-grid p {
  font-family: "Inter", sans-serif;
  text-align: left;
  margin-top: 5px;
}
.container-finance .container-grid i {
  font-size: 25px;
  margin-bottom: 30px;
  color: #F94D1C;
}

.container-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-company .parent-box2 .box-blue {
  position: relative;
  height: 182px;
  width: 350px;
  left: 200px;
  top: 180px;
  background-color: #BEEBFF;
  text-align: center;
}
.container-company .parent-box2 .box-blue h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  padding-top: 30px;
  text-align: left;
  padding-left: 20px;
}
.container-company .parent-box2 .box-blue p {
  color: #191919;
  font-size: 15px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  text-align: left;
  padding-bottom: 60px;
}
.container-company .parent-box2 .box-blue .name {
  color: #191919;
}
.container-company .parent-box2 .box-blue .roll {
  color: #F94D1C;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

.container-right {
  display: flex;
  justify-content: end;
  align-items: center;
}
.container-right .aside-right {
  padding-right: 20rem;
  padding-left: 17rem;
  margin-bottom: 18rem;
  margin-top: 200px;
}
.container-right .aside-right h6 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #F94D1C;
  margin-bottom: 20px;
  margin-top: 40px;
}
.container-right .aside-right h3 {
  font-size: 35px;
  font-family: "DM Sans", sans-serif;
  color: #191919;
  margin-bottom: 25px;
}
.container-right .aside-right p {
  font-size: 16px;
  color: #707070;
  margin-bottom: 5rem;
}
.container-right .btn-black {
  position: relative;
  top: 70px;
  background-color: #191919;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration-line: none;
  color: #efebeb;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
}
.container-right .btn-black i {
  margin-left: 8px;
  font-weight: 400;
  font-size: 1em;
}
.container-right .btn-black:hover {
  background-color: #F9D783;
  color: #191919;
  border: 1px solid black;
}
.container-right .btn-play {
  position: relative;
  top: 90px;
  left: 70px;
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  font-weight: 400;
  text-decoration-line: none;
  color: #191919;
}
.container-right .btn-play i {
  margin-right: 1rem;
  margin-left: 8px;
  font-weight: 400;
  font-size: 25px;
}
.container-right .btn-play:hover {
  color: #F9D783;
}

.consulting {
  background-color: #F0EFE9;
  padding: 20rem;
}
.consulting .container {
  text-align: left;
}
.consulting .container-texts h6 {
  margin-top: -150px;
  margin-bottom: 40px;
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.consulting .container-texts h3 {
  color: #191919;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.consulting .parent-box {
  background-color: #F0EFE9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.consulting .parent-box h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 50px;
  text-align: center;
}
.consulting .parent-box p {
  font-size: 16px;
  color: #191919;
  font-weight: 300;
  margin-top: 30px;
  text-align: center;
}
.consulting .parent-box i {
  position: relative;
  top: 40px;
  font-size: 30px;
  margin-left: 140px;
  color: #191919;
}
.consulting .parent-box .box1 {
  background-color: #FFFFFF;
  position: relative;
  width: 80rem;
  height: 300px;
  right: 60px;
  border: 1px solid transparent;
}
.consulting .parent-box .box2 {
  position: relative;
  width: 80rem;
  height: 300px;
  right: 20px;
  background-color: #F9D783;
  border: 1px solid transparent;
}
.consulting .parent-box .box3 {
  background-color: #FFFFFF;
  position: relative;
  width: 80rem;
  height: 300px;
  left: 20px;
  border: 1px solid transparent;
}
.consulting .parent-box .box4 {
  background-color: #FFFFFF;
  position: relative;
  width: 80rem;
  height: 300px;
  left: 60px;
  border: 1px solid transparent;
}
.consulting .btn-black {
  position: relative;
  top: 70px;
  left: 350px;
  background-color: transparent;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
}
.consulting .btn-black i {
  margin-left: 12px;
  font-weight: 400;
  font-size: 1em;
}
.consulting .btn-black:hover {
  background-color: #F9D783;
  color: #191919;
  border: 1px solid black;
}

.container-agency .container-text4 {
  text-align: left;
  position: relative;
  left: 21rem;
  margin-top: 2rem;
}
.container-agency .container-text4 h6 {
  color: #F94D1C;
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.container-agency .container-text4 h3 {
  font-size: 45px;
  font-weight: 700;
  color: #191919;
  font-family: "DM Sans", sans-serif;
}
.container-agency .grid-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 3rem;
  margin-left: 20rem;
}
.container-agency .grid-container h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #191919;
  margin-left: 20px;
  text-align: left;
}
.container-agency .grid-container h3 i {
  color: #191919;
  font-weight: 500;
  font-size: 40px;
  margin-right: 20px;
  text-align: left;
}
.container-agency .grid-container p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #191919;
  font-weight: 300;
  margin-left: 80px;
  text-align: left;
}
.container-agency .parent-box3 .image-girls {
  position: relative;
  left: 55rem;
  bottom: 68rem;
  size: 100px;
}
.container-agency .parent-box3 .box-brown {
  position: relative;
  height: 400px;
  width: 1100px;
  left: 50rem;
  bottom: 32rem;
  background-color: #F0EFE9;
  text-align: center;
}

.Projects {
  margin-top: 15rem;
}
.Projects .container .title-project {
  text-align: center;
  position: relative;
  bottom: 45rem;
}
.Projects .container .title-project p {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}
.Projects .container .title-project h2 {
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 40;
}
.Projects .container .project-cases {
  position: relative;
  bottom: 40rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.Projects .container .project-cases article h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 700;
  color: #191919;
  padding-top: 35px;
  padding-bottom: 16px;
  border-bottom: 1px solid #DAD9D3;
}
.Projects .container .project-cases article a {
  display: block;
  text-align: right;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #191919;
  text-decoration-line: none;
  padding: 15px;
}
.Projects .container .project-cases article a i {
  margin-left: 10px;
  font-weight: 300;
}
.Projects .container .project-cases article a:hover {
  text-decoration-line: underline;
}
.Projects .container .btn-black {
  position: relative;
  bottom: 34rem;
  left: 35rem;
  background-color: black;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  color: #FFFFFF;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
}
.Projects .container .btn-black i {
  margin-left: 12px;
  font-weight: 400;
  font-size: 1em;
}
.Projects .container .btn-black:hover {
  background-color: #FFFFFF;
  color: #191919;
  border: 1px solid black;
}

.Team-members {
  position: relative;
  bottom: 25rem;
  background-color: #F0D082;
  padding: 70px;
  padding-bottom: 120px;
}
.Team-members .container {
  margin-top: 20rem;
  margin-bottom: 20rem;
}
.Team-members .container .titel {
  display: flex;
  justify-content: left;
  align-items: center;
}
.Team-members .container .titel p {
  position: relative;
  bottom: 16rem;
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.Team-members .container .titel h2 {
  position: relative;
  bottom: 11rem;
  right: 8.3rem;
  color: #191919;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
}
.Team-members .container .titel .btn-black {
  position: relative;
  bottom: 11rem;
  left: 25rem;
  background-color: #F9D783;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 40px;
  padding-left: 40px;
}
.Team-members .container .titel .btn-black i {
  margin-left: 12px;
  font-weight: 400;
  font-size: 1em;
}
.Team-members .container .titel .btn-black:hover {
  background-color: #FFFFFF;
  color: #191919;
  border: 1px solid black;
}
.Team-members .container .members {
  position: relative;
  bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.Team-members .container .members article h3 {
  font-size: 22px;
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  margin-top: 30px;
}
.Team-members .container .members article p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #191919;
  font-weight: 300;
}
.Team-members .container .dot-image {
  position: relative;
  left: 39rem;
}
.Team-members .container-client {
  background-color: #FFFFFF;
  padding: 15rem;
}
.Team-members .container-client .titel-box {
  text-align: center;
  position: relative;
  bottom: 10rem;
}
.Team-members .container-client .titel-box p {
  color: #F94D1C;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
.Team-members .container-client .titel-box h3 {
  color: #191919;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.Team-members .container-client .clients {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 14rem;
}
.Team-members .container-client .clients article {
  position: relative;
  bottom: 3rem;
}
.Team-members .container-client .clients article .image1 {
  position: relative;
  bottom: 2rem;
}
.Team-members .container-client .clients article .image2 {
  position: relative;
  top: 1rem;
  right: 3rem;
}
.Team-members .container-client .clients article p {
  font-size: 15px;
  font-weight: 400;
  color: #191919;
}
.Team-members .container-client .clients article h3 {
  position: relative;
  bottom: 2rem;
  left: 3rem;
  font-size: 22px;
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}
.Team-members .container-client .clients article h6 {
  position: relative;
  left: 3rem;
  bottom: 2rem;
  color: #F94D1C;
  font-size: 16px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
}
.Team-members .container-client .btn-black {
  position: relative;
  bottom: -6rem;
  left: 32rem;
  background-color: black;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  color: #FFFFFF;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 70px;
  padding-left: 70px;
}
.Team-members .container-client .btn-black i {
  margin-left: 12px;
  font-weight: 400;
  font-size: 1em;
}
.Team-members .container-client .btn-black:hover {
  background-color: #FFFFFF;
  color: #191919;
  border: 1px solid black;
}

.Container-news {
  padding: 2rem;
}
.Container-news .title-news {
  display: flex;
  justify-content: center;
  align-items: start;
  position: relative;
  bottom: 10rem;
  right: 25rem;
}
.Container-news .title-news p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #F94D1C;
  position: relative;
  bottom: 3rem;
  left: 6.8rem;
}
.Container-news .title-news h3 {
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  color: #191919;
  font-weight: 600;
  position: relative;
  right: 1.5rem;
}
.Container-news .title-news .btn-black {
  position: relative;
  left: 37rem;
  background-color: #FFFFFF;
  border: solid black;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 70px;
  padding-left: 70px;
}
.Container-news .title-news .btn-black i {
  margin-left: 12px;
  font-weight: 400;
  font-size: 1em;
}
.Container-news .title-news .btn-black:hover {
  background-color: #191919;
  color: #FFFFFF;
  border: 1px solid black;
}
.Container-news .title-news i {
  position: relative;
  left: 10px;
}
.Container-news .parent-yellowbox {
  position: relative;
  bottom: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container-news .parent-yellowbox .business {
  position: relative;
  bottom: 25px;
}
.Container-news .parent-yellowbox p {
  position: relative;
  top: 3rem;
  color: #6A6C71;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.Container-news .parent-yellowbox h4 {
  position: relative;
  top: 2rem;
  font-size: 22px;
  color: #191919;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.Container-news .parent-yellowbox .yellow-box1 {
  background-color: #F9D783;
  height: 70px;
  width: 85px;
  text-align: center;
  position: relative;
  bottom: 135px;
  left: 5.4rem;
}
.Container-news .parent-yellowbox .yellow-box1 h4 {
  font-family: "DM Sans", sans-serif;
  position: relative;
  top: 17px;
  font-size: 22px;
  color: #191919;
  font-weight: 600;
}
.Container-news .parent-yellowbox .yellow-box1 h5 {
  position: relative;
  top: 7px;
  font-family: "Inter", sans-serif;
  color: #3b3a3a;
  font-size: 16px;
  font-weight: 500;
}
.Container-news .parent-yellowbox .yellow-box2 {
  background-color: #F9D783;
  height: 70px;
  width: 85px;
  text-align: center;
  position: relative;
  bottom: 135px;
  left: 5.5rem;
}
.Container-news .parent-yellowbox .yellow-box2 h4 {
  font-family: "DM Sans", sans-serif;
  position: relative;
  top: 17px;
  font-size: 22px;
  color: #191919;
  font-weight: 600;
}
.Container-news .parent-yellowbox .yellow-box2 h5 {
  position: relative;
  top: 7px;
  font-family: "Inter", sans-serif;
  color: #3b3a3a;
  font-size: 16px;
  font-weight: 500;
}
.Container-news .parent-yellowbox .yellow-box3 {
  background-color: #F9D783;
  height: 70px;
  width: 85px;
  text-align: center;
  position: relative;
  bottom: 135px;
  left: 5.5rem;
}
.Container-news .parent-yellowbox .yellow-box3 h4 {
  position: relative;
  top: 17px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  color: #191919;
  font-weight: 600;
}
.Container-news .parent-yellowbox .yellow-box3 h5 {
  position: relative;
  top: 7px;
  font-family: "Inter", sans-serif;
  color: #3b3a3a;
  font-size: 16px;
  font-weight: 500;
}
.Container-news .dot-lines {
  position: relative;
  left: 52rem;
}

.newsletter {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 80px;
}
.newsletter .background-lines-right {
  position: absolute;
  bottom: 50px;
  right: 0;
}
.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newsletter .container h2 {
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  color: #191919;
  font-weight: 700;
}
.newsletter .container form input {
  padding: 20px 80px;
  border-radius: 35px;
  outline: none;
  border: 1px solid #DAD9D3;
  margin-right: 20px;
}
.newsletter .container form .btn-yellow {
  position: relative;
  background-color: #F9D783;
  border: solid 1px transparent;
  border-radius: 35px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-decoration-line: none;
  color: #191919;
  margin-right: 20px;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-right: 50px;
  padding-left: 50px;
}
.newsletter .container form .btn-yellow i {
  margin-left: 12px;
  font-weight: 400;
  font-size: 1em;
}
.newsletter .container form .btn-yellow:hover {
  background-color: #191919;
  color: #FFFFFF;
  border: 1px solid black;
}

.info {
  position: relative;
  background-color: #0E1021;
  color: #FFFFFF;
  padding-top: 10px;
  padding-left: 100px;
}
.info .linebottom {
  position: absolute;
  bottom: 8px;
  right: 0;
}
.info .crito {
  color: #FFFFFF;
  position: relative;
  top: 40px;
  margin-left: 50px;
}
.info .crito p {
  position: relative;
  top: 2.5rem;
  text-align: start;
}
.info .links {
  position: relative;
  left: 10rem;
  bottom: 11rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.info .links h4 {
  position: relative;
  right: 4rem;
  padding-bottom: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
}
.info .links p {
  position: relative;
  right: 4rem;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #807f7f;
  font-weight: 400;
}

.end {
  border: 1px solid #DAD9D3;
  background-color: #0E1021;
  color: #FFFFFF;
  padding-top: 10px;
}
.end .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.end .container p {
  padding-top: 10px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.end .container .social-media2 {
  margin-right: 20px;
}
.end .container .social-media2 i {
  color: #FFFFFF;
  font-size: 20px;
  margin-right: 20px;
}