@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,700&family=Inter:wght@300;400;500;600;700;900&display=swap');
header {
  html,body {

  }
    background-color: #F0EFE9;
    padding: 16px;

  .container {
  display: flex;
  align-items: center;
  gap: 70px;

  img {
      padding-top: 31px;
  }
  
 
  

    .top-menu {
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #DAD9D3;
      padding-bottom: 15px;
      flex: 1;


      .social-media {
        a {
          color: #191919;
          font-size: 20px;
          margin-right: 10px;

          &:hover {
            color: red;
          }
        }

      }
      
      
      
      .contact-information {
        display: flex;
        align-items: center;
        
        
        
        
      
        .contact-box {
        padding-right: 30px;
        margin-right: 50px;
        border-right: 2px solid #DAD9D3;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 400;
        

        i {
          color: #191919;
          font-weight: 400;
          font-size: 20px;
          margin-right: 5px;

          &:hover {
            color:red;

          }

        }
           
        }
        
      }
      
    }
    
  }

  .bottom-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 180px;
    
    nav {
       a {
            display: inline-block;
            color: #191919;
            text-decoration-line: none;
            margin-right: 70px;
            position: relative;
            font-weight: 600;
            font-family: 'Inter', sans-serif;

            &:hover {
              background-color:#191919;
              color:#F0EFE9;
            }

        }
    }

    button {
      background-color: #F9D783;
      border: solid #F9D783;
      border-radius: 35px;
      width: 120px;
      height: 50px;
      font-family: 'Inter', sans-serif;
      font-size: 18px;
      font-weight: 600;
      padding-left: 20px;
      padding-right: 10px;

      color: #191919;

      i {
        margin-left: 10px;
        font-weight: 600;

      }

      &:hover {
        background-color: #191919;
        color: #F0EFE9;
      }
    }
  }

  }

  .Showcase {
      background-color: #F0EFE9;
      position: relative;

      
      .linetopleft {
        position: absolute;
        bottom: 8px;
      }


      .container {

          display: flex;
          align-items: center;
          justify-content: space-between;


        .content-text {

          h1 {
            font-size: 80px;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;

          }

          p {
           font-size: 20px;
           font-family: 'Inter', sans-serif;
           font-weight: 400;
           margin-bottom: 90px;
          }


          .btn-yellow {
            position: relative;
            background-color: #F9D783;
            border: solid #F9D783;
            border-radius: 35px;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 500;
            text-decoration-line: none;
            color: #191919;
            margin-right: 20px;
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 40px;
            padding-left: 40px;
            
            
        
            i {
              margin-left: 8px;
              font-weight: 400;
              font-size: 1em;
            }
            
  
            &:hover {
              background: color #191919;
              color: #191919;
              border: 1px solid black;
            }

          }

          .btn-transparent {
            position: relative;
            background-color: transparent;
            border: solid black;
            border-radius: 35px;
            width: 100px;
            height: 50px;
            font-family: 'Inter', sans-serif;
            font-size: 20px;
            font-weight: 400;
            text-decoration-line: none;
            color: #191919;
            margin-right: 20px;
            padding-top: 20px;
            padding-bottom: 15px;
            padding-right: 40px;
            padding-left: 40px;
            
            i {
              margin-left: 8px;
              font-weight: 400;
              font-size: 1em;
            }
  
            
            &:hover {
              background: color #191919;
              color: #191919;
              border: 1px solid black;
            }
            
          }
        
        }

      }
  }

  .parent-box {
    margin-top: 95px;
    background-color:#ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-right: 8rem;
    padding-left: 50px;
    padding-bottom: 2rem;

    .box {
      height: 90px;
      width: 224px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }

  .container-finance {
    display: flex; 
    justify-content: center;
    align-items: start;
    background-color:#ffffff;
    padding: 1rem;
    border: 2px solid #F0EFE9;
    
    .container-text {
      

    .content-2 {
      position: relative;
      right: 10rem;
      text-align: left;
      margin-bottom: 10rem;
      
      
      
      p {
        font-family: 'Inter', sans-serif;
        font-size: 15;
        color: #F94D1C;
        text-align: left;
        padding-top: 220px;
      }
      

      h2 {
        font-family: 'DM Sans', sans-serif;
        font-weight: 700;
        font-size: 45px;
        color: #191919;
        text-align: left;
        padding-bottom: 2rem;

        span {
          display: block;
          line-height: 1.2;
        }     
      }

        .btn-yellow-3 {
        display:flex;
        justify-content: center;
        align-items: center;
        background-color:#F9D783;
        border: solid #F9D783;
        border-radius: 45px;
        width: 110%;
        height: 50px;
        font-family: 'Inter', sans-serif;
        font-size: 20px;
        font-weight: 400;
        text-decoration-line: none;
        color: #191919;
        text-align: center;
        
        
        i {
          margin-left: 8px;
          font-weight: 300;
          font-size: 1em;
        }
        
        &:hover {
          background-color: #191919;
          color: #F0EFE9;
          border: 1px solid black;
        }
      }
    }
    }

      .container-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 120px;
        margin-top: 14rem;
        margin-left: 10rem;
      

        h3 {
          
          font-size: 22px;
          font-family: 'DM Sans', sans-serif;

        }

        p {
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          color: #6A6C71;
          font-weight: 400;
          text-align: left;
          margin-top: 5px;

          span {
            display: block;
          }
        }

        i {
          font-size: 25px;
          margin-bottom: 30px;
          color:#F94D1C;
        }
      }
  }

  .container-company {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
    .parent-box2 {


      .box-blue {
        position: relative;
        height: 182px;
        width: 350px;
        left: 200px;
        top: 180px;
        background-color: #BEEBFF;
        text-align: center;
        
        
        h3 {
          font-family: 'DM Sans', sans-serif;
          font-weight: 300;
          font-size: 20px;
          padding-top: 30px;
          text-align: left;
          padding-left: 20px;
        }

  
        p {
          color: #191919;
          font-size: 15px;
          font-weight: 400;
          font-family: 'Inter', sans-serif;
          text-align: left;
          padding-bottom: 60px;
          }
  
          .name {
            color:#191919; 
          }
  
          .roll {
            color:#F94D1C;
            font-family: 'DM Sans', sans-serif;
            font-size: 16px;
          }
      }
    }
  }

  .container-right {
    display: flex;
    justify-content: end;
    align-items: center;
    

    .aside-right {
      padding-right: 20rem;
      padding-left: 17rem;
      margin-bottom: 18rem;
      margin-top: 200px;


      h6 {
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        color: #F94D1C;
        margin-bottom: 20px;
        margin-top: 40px;
      }


      h3 {
        font-size: 35px;
        font-family: 'DM Sans', sans-serif;
        color:#191919;
        margin-bottom: 25px;
      }


      p {
        font-size: 16px;
        color: #707070;
        margin-bottom: 5rem;
        line-height: 2;
      }

    
    }

    .btn-black {
      position: relative;
      top: 70px;
      background-color: #191919;
      border: solid black;
      border-radius: 35px;
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      font-weight: 400;
      text-decoration-line: none;
      color: #efebeb;
      margin-right: 20px;
      padding-top: 20px;
      padding-bottom: 25px;
      padding-right: 40px;
      padding-left: 40px;
      
      
  
      i {
        margin-left: 8px;
        font-weight: 400;
        font-size: 1em;
      }
      
      
  
      &:hover {
        background-color:#BEEBFF;
        color: #191919;
        border: 1px solid black;
      }
    }
  

    .btn-play {
      position: relative;
      top: 90px;
      left: 70px;
      background-color: transparent;
      font-family: 'Inter', sans-serif;
      font-size: 25px;
      font-weight: 400;
      text-decoration-line: none;
      color: #191919;
      
      i {
        margin-right: 10px;
        font-weight: 400;
        font-size: 31px;
      }
      
      &:hover {
        background-color: #BEEBFF;
        color: #191919;
        border: 1px solid #191919;
      }
    }
  }

  .consulting {
    position: relative;
    background-color: #F0EFE9;
    padding: 20rem;

    .linemiddle {
      position: absolute;
      bottom: 8px;
      right: 0;
    }


    .container {
     text-align: left;
    }


    .container-texts {
      position: relative;
      right: 6rem;

      h6 {
        margin-top: -150px;
        margin-bottom: 40px;
        color: #F94D1C;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
      }

      h3 {
          color: #191919;
          font-size: 45px;
          font-family: 'DM Sans', sans-serif;
          font-weight: 700;
        }

    }

      .parent-box {
        position: relative;
        right: 6rem;
        background-color: #F0EFE9;
        display: flex;
        justify-content:center;
        align-items:center;
        width: 100rem;
        
      
      
        h3 {
          position: relative;
          left: 2rem;
          top: 2rem;
          font-weight: 700;
          margin-top: 50px;
          text-align: left;
        }
        
        p {
          position: relative;
          left: 2rem;
          top: 2rem;
          font-size: 16px;
          font-family: 'Inter', sans-serif;
          color: #191919;
          font-weight: 300;
          margin-top: 30px;
          text-align: left;

          span {
            display: block;
            line-height: 1.7;
          }
        }

        i {
          position: relative;
          left: 18rem;
          top: 20px;
          font-size: 40px;
          color: #FFFFFF;
          background-color: #191919;
          border-radius: 100%;
          


          &:hover {
            background-color:#FFFFFF;
            color:#F94D1C;
            border-radius: 5rem;
          }

        }

      
        

        .box1 {
         background-color:#FFFFFF;
         position: relative;
         width: 80rem;
         height: 300px;
         right: 60px;
         border: 1px solid transparent;
        }

      
        .box2 {
          position: relative;
          width: 80rem;
          height: 300px;
          right: 20px;
          background-color:#F9D783;
          border: 1px solid transparent;

          i {
            background-color: #FFFFFF;
            color: #191919;
            border-radius: 50%;
          }
        }

        .box3{
          background-color:#FFFFFF;
          position: relative;
          width: 80rem;
          height: 300px;
          left: 20px;
          border: 1px solid transparent;
        }


        .box4 {
          background-color:#FFFFFF;
          position: relative;
          width: 80rem;
          height: 300px;
          left: 60px;
          border: 1px solid transparent;
        }
      }

      .btn-black {
        position: relative;
        top: 70px;
        left: 550px;
        background-color: transparent;
        border: solid black;
        border-radius: 35px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-decoration-line: none;
        color: #191919;
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-right: 40px;
        padding-left: 40px;
        
        
    
        i {
          margin-left: 12px;
          font-weight: 400;
          font-size: 1em;
        }
        
        
    
        &:hover {
          background-color:#F9D783;
          color: #191919;
          border: 1px solid black;
        }
      }

      .topborder {
        position: relative;
        top: 50px;
        left: 30px;
        border-top: 2px solid black;
        width: 45px;
      }
  }
  
  .container-agency {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h6 {
      position: relative;
      right: 35rem;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      color: #F94D1C;
      margin-top: 100px;
    }
    

    .container-text4 {
      text-align: left;
      position: relative;
      left: 21rem;
      margin-top: 1.5rem;
      


      h3 {
        position: relative;
        right: 48rem;
        font-size: 45px;
        font-weight: 700;
        color: #191919;
        font-family: 'DM Sans', sans-serif;

        span {
          display: block;
          line-height: 1.2;
        }
      }
    }

      .grid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 10px;


        .grid-item {
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          right: 25rem;
          top: 3rem;
          gap: 70px;
          
          
        }

        .icon {
          position: relative;
          bottom: 1.5rem;
          font-size: 30px;
          color: black;
          font-weight: 700;
        }

        .text {
          padding: 15px;
          text-align: left;

          h3 {
            font-family: 'DM Sans', sans-serif;
            font-size: 22px;
            color: #191919;
            font-weight: 600;
          }

          p {
            font-family: 'Inter', sans-serif;
            font-size: 16px;
            color: #6A6C71;
            font-weight: 500;
          }
        }

    
    }

      .parent-box3 {
      
      .image-girls2 {
        position: relative;
        left: 27rem;
        bottom: 62rem;
        width: 640px;
      }
    
      .box-brown {
        position: relative;
        height: 370px;
        width: 1300px;
        left: 42rem;
        bottom: 27rem;
        background-color: #F0EFE9;
        text-align: center;
      }
    }
  }

  .Projects {
    margin-top: 6rem;
    .container {
      
      .title-project {
        text-align: center;
        position: relative;
        bottom: 45rem;
        
        p {
          color:#F94D1C;
          font-family: 'Inter', sans-serif;
          font-size: 18px;
          font-weight: 500;
          margin-bottom: 10px;
        }
    
        h2 {
          color: #191919;
          font-family: 'DM Sans', sans-serif;
          font-weight: 700;
          font-size: 40;
    
        }
      }

      .project-cases {
        position: relative;
        bottom: 40rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:30px;


        article {

          img {

          }

          h3 {
            font-family: 'DM Sans', sans-serif;
            font-size: 22px;
            font-weight: 700;
            color: #191919;
            padding-top: 35px;
            padding-bottom: 16px;
            border-bottom: 1px solid #DAD9D3;
           
          }

          a {
            display: block;
            text-align: right;
            font-family: 'Inter', sans-serif;
            font-size: 14px;
            font-weight: 700;
            color: #191919;
            text-decoration-line: none;
            padding: 15px;
            
            i {
              margin-left: 10px;
              font-weight: 300;
            }

            &:hover {
              text-decoration-line: underline;
            }
          
          }
        }
      }

      .btn-black {
        position: relative;
        bottom: 34rem;
        left: 35rem;
        background-color: black;
        border: solid black;
        border-radius: 35px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-decoration-line: none;
        color: #FFFFFF;
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 25px;
        padding-right: 40px;
        padding-left: 40px;
        
        
    
        i {
          margin-left: 12px;
          font-weight: 400;
          font-size: 1em;
        }
        
        
    
        &:hover {
          background-color:#FFFFFF;
          color: #191919;
          border: 1px solid black;
        }
      }
  }
}

.Team-members {

  position: relative;
  bottom: 25rem;
  background-color: #F0D082;
  padding: 70px;
  padding-bottom: 120px;
  

    .container {
      
       margin-top: 20rem;
       margin-bottom: 20rem;

      .titel  {
        display: flex;
        justify-content: left;
        align-items: center;

        p {
          position: relative;
          bottom: 16rem;
          color: #F94D1C;
          font-size: 18px;
          font-family: 'Inter', sans-serif;
        }

        h2 {
          position: relative;
          bottom: 11rem;
          right: 8.3rem;
          color: #191919;
          font-size: 45px;
          font-family: 'DM Sans', sans-serif;
        }

        .btn-black {
          position: relative;
          bottom: 11rem;
          left: 25rem;
          background-color: #F9D783;
          border: solid black;
          border-radius: 35px;
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-weight: 300;
          text-decoration-line: none;
          color: #191919;
          margin-right: 20px;
          padding-top: 20px;
          padding-bottom: 25px;
          padding-right: 40px;
          padding-left: 40px;
          
          i {
            margin-left: 12px;
            font-weight: 400;
            font-size: 1em;
          }

          
          &:hover {
            background-color:#FFFFFF;
            color: #191919;
            border: 1px solid black;
          }
          
        }


        
      }

      .members {
        position: relative;
        bottom:4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 30px;
  
        article {
  
  
          img {
  
          }
  
          h3 {
            font-size: 22px;
            color: #191919;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
            margin-top: 30px;
          }
  
          p {
            font-size: 16px;
            font-family: 'Inter', sans-serif;
            color: #191919;
            font-weight: 300;
  
          }
        }
      }

        .dot-image {
          position: relative;
          left: 39rem;
        }
    }

      .container-client {
        background-color: #FFFFFF;
        padding: 15rem;
        

        .titel-box {
         text-align: center;
         position: relative;
         bottom: 10rem;

          p {
            color: #F94D1C;
            font-size: 18px;
            font-family: 'Inter', sans-serif;
            font-weight: 500;
          }

          h3 {
            color:#191919;
            font-size: 45px;
            font-family: 'DM Sans', sans-serif;
            font-weight: 700;
          }

        }

       
        .clients {
          display: flex;
          justify-content:center;
          align-items: start;
          gap: 14rem;

            article {
            position: relative;
            bottom: 3rem;
          
        
            .image1 {
              position: relative;
              bottom: 2rem;
            }

            .image2 {
              position: relative;
              top: 1rem;
              right: 3rem;
            }
      
  
            p {
              font-size: 15px;
              font-weight: 400;
              color: #191919;
              
            }
  
           
            h3 {
              position: relative;
              bottom: 2rem;
              left: 3rem;
              font-size: 22px;
              color: #191919;
              font-family: 'DM Sans', sans-serif;
              font-weight: 700;
             
            }
  
            h6 {
              position: relative;
              left: 3rem;
              bottom: 2rem;
              color: #F94D1C;
              font-size: 16px;
              font-weight: 500;
              font-family: 'Inter', sans-serif;
            }
          }
        }

        .btn-black {
          position: relative;
          bottom: -6rem;
          left: 32rem;
          background-color: black;
          border: solid black;
          border-radius: 35px;
          font-family: 'Inter', sans-serif;
          font-size: 16px;
          font-weight: 300;
          text-decoration-line: none;
          color: #FFFFFF;
          margin-right: 20px;
          padding-top: 20px;
          padding-bottom: 25px;
          padding-right: 70px;
          padding-left: 70px;
          
          
      
          i {
            margin-left: 12px;
            font-weight: 400;
            font-size: 1em;
          }
          
          
      
          &:hover {
            background-color:#FFFFFF;
            color: #191919;
            border: 1px solid black;
          }
        }

      }
}

.Container-news {
  padding: 2rem;


  .title-news {
    display: flex;
    justify-content: center;
    align-items: start;
    position: relative;
    bottom: 10rem;
    right: 25rem;

    p {
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      font-weight: 500;
      color:#F94D1C;
      position: relative;
      bottom: 3rem;
      left: 6.8rem;
    }

    h3 {
      font-size: 45px;
      font-family: 'DM Sans', sans-serif;
      color: #191919;
      font-weight: 600;
      position: relative;
      right: 1.5rem;
    }

    .btn-black {
      position: relative;
      left: 37rem;
      background-color: #FFFFFF;
      border: solid black;
      border-radius: 35px;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 300;
      text-decoration-line: none;
      color: #191919;
      margin-right: 20px;
      padding-top: 20px;
      padding-bottom: 25px;
      padding-right: 70px;
      padding-left: 70px;
      
      
  
      i {
        margin-left: 12px;
        font-weight: 400;
        font-size: 1em;
      }
      
      
  
      &:hover {
        background-color:#191919;
        color: #FFFFFF;
        border: 1px solid black;
      }
    }

    i {
      position: relative;
      left: 10px;
    }
 
  }

  .parent-yellowbox {
    position: relative;
    bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    

    .business {
      position: relative;
      bottom: 25px;
    }

    p {
      position: relative;
      top: 3rem;
      color: #6A6C71;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;

    }

    h4 {
      position: relative;
      top: 2rem;
      font-size: 22px;
      color: #191919;
      font-family: 'DM Sans', sans-serif;
      font-weight: 500;
    }

    .yellow-box1 {
      background-color: #F9D783;
      height: 70px;
      width: 85px;
      text-align: center;
      position: relative;
      bottom: 135px;
      left: 5.4rem;
      
      h4 {
        font-family: 'DM Sans', sans-serif;
        position: relative;
        top: 17px;
        font-size: 22px;
        color: #191919;
        font-weight: 600;
      }

      h5 {
        position: relative;
        top: 7px;
        font-family: 'Inter', sans-serif;
        color: #3b3a3a;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .yellow-box2 {
      background-color: #F9D783;
      height: 70px;
      width: 85px;
      text-align: center;
      position: relative;
      bottom: 135px;
      left: 5.5rem;

      h4 {
        font-family: 'DM Sans', sans-serif;
        position: relative;
        top: 17px;
        font-size: 22px;
        color: #191919;
        font-weight: 600;
      }

      h5 {
        position: relative;
        top: 7px;
        font-family: 'Inter', sans-serif;
        color: #3b3a3a;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .yellow-box3 {
      background-color: #F9D783;
      height: 70px;
      width: 85px;
      text-align: center;
      position: relative;
      bottom: 135px;
      left: 5.5rem;

      h4 {
        position: relative;
        top: 17px;
        font-family: 'DM Sans', sans-serif;
        font-size: 22px;
        color: #191919;
        font-weight: 600;
      }

      h5 {
        position: relative;
        top: 7px;
        font-family: 'Inter', sans-serif;
        color: #3b3a3a;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
    .dot-lines {
      position: relative;
      left: 52rem;
    }
}

.newsletter {
  position: relative;
  background-color: #F0EFE9;
  padding-top: 80px;
  padding-bottom: 80px;

  .background-lines-right {
    position: absolute;
    bottom: 50px;
    right: 0;
  }

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-family: 'DM Sans', sans-serif;
      font-size: 45px;
      color: #191919;
      font-weight: 700;
    }

    form {

      input {
        padding: 20px 80px;
        border-radius: 35px;
        outline: none;
        border: 1px solid #DAD9D3;
        margin-right: 20px;
      }

      .btn-yellow {
        position: relative;
        background-color: #F9D783;
        border: solid 1px transparent;
        border-radius: 35px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-decoration-line: none;
        color: #191919;
        margin-right: 20px;
        padding-top: 20px;
        padding-bottom: 15px;
        padding-right: 50px;
        padding-left: 50px;
        
        
    
        i {
          margin-left: 12px;
          font-weight: 400;
          font-size: 1em;
        }
        
        
    
        &:hover {
          background-color:#191919;
          color: #FFFFFF;
          border: 1px solid black;
        }
      }

    }
  }
}

.info { 
  position: relative;
  background-color: #0E1021;
  color: #FFFFFF;
  padding-top: 10px;
  padding-left: 100px;
  
  
  

  .linebottom {
    position: absolute;
    bottom: 8px;
    right: 0;
  }

  .crito  {
    color: #FFFFFF;
    position: relative;
    top: 40px;
    margin-left: 50px;

    p {
      position: relative;
      top: 2.5rem;
      text-align: start;
    }
  }

  .links {
    position: relative;
    left: 10rem;
    bottom: 11rem;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10rem;

    h4 {
      position: relative;
      right: 4rem;
      padding-bottom: 20px;
      font-family: 'DM Sans', sans-serif;
      font-size: 22px;
      
    }

    p {
      position: relative;
      right: 4rem;
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      color: #807f7f;
      font-weight: 400;
    }
    
  }
}

.end {
  border: 1px solid #DAD9D3;
  background-color: #0E1021;
  color: #FFFFFF;
  padding-top: 10px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      padding-top: 10px;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      font-weight: 400;
     
    }

    .social-media2 {
      margin-right: 20px;
      

      i {
        color: #FFFFFF;
        font-size: 20px;
        margin-right: 20px;
    }
  }
}
}